<a href="" ng-click="$showImage($index)" class="thumbnail" ng-if="!wrappedImage.noImage">
  <img class="img-responsive gallery-image" ng-src="{{ ::wrappedImage.image.url }}">
  <div class="caption">
    <p ng-bind="::wrappedImage.image.title"></p>
    <div ng-bind="::wrappedImage.image.date | date:'mediumDate'"></div>
  </div>
  <button type="button" class="close" ng-click="$deleteImage(wrappedImage.id)"><span aria-hidden="true">&times;</span></button>
</a>
<div class="thumbnail" ng-if="wrappedImage.noImage">
  <span class="no-image">No Image</span>
  <button type="button" class="close" ng-click="$deleteImage(wrappedImage.id)"><span aria-hidden="true">&times;</span></button>
</div>
