<div class="modal-header">
  <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title" ng-bind="imageModal.currentWrappedImage.image.title"></h3>
</div>
<div class="modal-body text-center big-image-wrap">
  <img ng-if="!imageModal.currentWrappedImage.noImage" ng-src="{{ imageModal.currentWrappedImage.image.url }}">
  <h3 ng-if="imageModal.currentWrappedImage.noImage">No image</h3>
</div>
<div class="modal-footer">
  <div class="btn-group text-center">
    <button class="btn btn-default" ng-click="imageModal.prev()">Previous</button>
    <button class="btn btn-default" ng-click="imageModal.next()">Next</button>
  </div>
</div>
