.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  .gallery-image {
    height: 200px;
  }
  .no-image {
    height: 325px;
    text-align: center;
    line-height: 325px;
    width: 100%;
    display: block;
  }

  .caption {
    height: 125px;
  }
}

.gallery-controls {
  padding: 10px 0;
}


